# --- Configurações de Segurança JWT ---
JWT_SECRET=coloque_aqui_uma_chave_longa_e_segura
JWT_EXPIRATION=86400000

# --- Banco de Dados H2 ---
DB_USERNAME=sa
DB_PASSWORD=admin
DB_URL=jdbc:h2:mem:deliverydb
